.main-content{
  padding-top: 0px;
  justify-self: center;
  width: 100%;
  height: auto;
  padding-left: 5%;
  padding-right: 5%;
}
@media screen and (min-width: 78px){
  .main-content{
      order: 1;
      width: 100%;
      height: auto;
      margin-top: 110px;
      padding-left: 5%;
    }
  :root{
        --big-font-size: 5rem;
        --normal-font-size: 1rem;
      }
}

@media screen and (min-width: 1024px){

  .main-content{
    width: 100%;
    height: auto;
    margin-top: 110px;
  }

}
/*===Content filter===*/
#myBtnContainer {
  margin-left: 9%;
}
.container {
  margin-top: 20px;
  overflow: hidden;
}
.filterDiv {
  float: left;
  color: #ffffff;
  width: 30%;
  height: 250px;
  margin: 1%;
  display: none;
  overflow: hidden;
  position: relative;
}
.filtershow {
  display: block;
}
/* Style the tab */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: #ffffff;
  cursor: pointer;
}

.btn:hover {
  background-color: #ddd;
}

.btn.active {
  border-bottom: var(--first-color-dark) 3px solid;
  color: var(--first-color-darken);
  font-weight: bold;
}

.review-image {
  display: inline;
  height: 70%;
  width: 100%;
}
.filterDiv:hover img {
  transform: scale(1.1);
  transition: 0.7s;
  filter: brightness(70%);
}
.filterDiv h3 {
  position: absolute;
  bottom: 0px;
  color: rgb(0, 0, 0);
  margin-left: 5px;
  height: 18%;
}
.filterDiv:hover h3 {
  text-decoration: underline;
}
.filterDiv:hover {
  border: solid 4px var(--first-color-dark);
}
input {
  margin: 15px 0px 0px 9%;
  border: var(--first-color-dark) solid 2px;
  color: var(--text-color);
  width: 30%;
  height: 35px;
  border-radius: 8px;
  outline: none;
}
